body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f4f8;

}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

header{
    background-color: #2d313d;
}

.header__mob{
    display: none;
}

.logo{
    display: inline-block;
    width: 32px;
    height: 20px;
    padding: 18px 0 18px 6px;

}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__right a{
    display: inline-block;
    color: #727989;
    margin-left: 32px;
    padding: 20px 0;
    text-decoration: none;
    position: relative;

}

.header__right .city{
    padding-right: 20px;
}

.header__right .city span{
    border-bottom: dashed 1px;
}

.city:after{
    font-family: icomoon;
    content: "\f107";
    position: absolute;
    right: 0;

}

.user_photo{
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
}

/* Стили для блока nav*/
.nav{
    background-color: #646d81;
}

.icon-navicon{
    display: none;
}

.nav__list li{
    display: inline-block;
    margin-right: 25px;
    border-top: solid #646d81 5px;
    border-bottom: solid #646d81 5px;
    padding: 10px 0;
    transition-duration: 0.3s;
}

.nav__list li a{
    color: #fff;
    text-decoration: none;

}

.nav__list li:hover{
    border-color: white;

}

/*Стили для блока section*/

.main{
    background-color: #fff;
    display: flex;

}

.menu{
    padding-top: 20px;
    min-width: 180px;
    border-right: solid 1px #e0e4ed;
}

.menu li{
    list-style-type: none;
    padding: 9px 28px 9px 23px;
    border-left: solid white 5px;
    transition-duration: 0.3s;


}

.menu li:hover{
    border-left: solid #646d81 5px;
    background-color: #f8f8f8;

}

.menu li:hover a{
    color: #000000;
}

.menu li a{
    text-decoration: none;
    color: #99a1b3;
}

.submenu{
    display: inline-block;
    margin-top: 32px;
    padding: 9px 28px 9px 30px;
    font-size: 18px;
    font-family: Georgia, sans-serif;
    color: #000000;
}

.menu .submenu:hover{
    border-left: solid white 5px;
    background-color: #fff;
}

/*Стили для блока content*/

.content{
    display: flex;
    flex-direction: column;
}

.content h1{
    padding: 30px 0 20px 30px;
    font-family: Georgia, sans-serif;
    font-size: 30px;
    color: black;

}

.content .city{
    margin-left: 20px;
    border-bottom: dashed 1px #646d81;
    position: relative;
}

.content .city:after{
    font-family: icomoon;
    content: "\f107";
    position: absolute;
    right: -25px;
}

.form{
    background-color: #f2f4f8;
    padding: 5px 30px;
    color: #99a1b3;
    display: flex;
    justify-content: space-between;
}

.form__input{
    padding-left: 10px;
    outline: none;
    -webkit-appearance: none;
    width: 280px;
    height: 40px;
    border: solid #d6d9e1 1px;
    border-radius: 5px;
    display: inline-block;
    background: white url("../img/search.png") no-repeat 260px 9px;

}

.form__item{
    padding: 11px 0;
}

.form__item span{
    font-family: Georgia, sans-serif;
    display: inline-block;
    margin-right: 100px;
}

.form__item .icon-sliders{
    display: inline-block;
}

.form__item .icon-sliders:before {
    font-size: 20px;
    content: "\f1de";
}

/*Стили для блока post*/

.post{
    margin: 30px;
    font-size: 12px;
}

/*.post__inner{*/
/*    display: flex;*/
/*}*/

.post__inner img{
    float: left;
    width: 60px;
    display: inline-block;
    margin-right: 15px;
}

.post__item{
    margin-left: 75px;
}

.post__item--top{
    display: flex;
    justify-content: space-between;
}

.post__item--top span{
    color: #99a1b3;
}

.members{
    padding: 5px 15px;
    background-color: #f2f4f8;
    border-radius: 5px;
    margin-left: 26px;
}

.post__item--top .post__comments span{
    padding-left: 20px;
    position: relative;
}

.comm:before{
    position: absolute;
    left: 0;
    font-family: icomoon;
    content: "\e96d";
}

.time:before{
    position: absolute;
    left: 6px;
    font-family: icomoon;
    content: "\f017";
}

.post__title{
    color: #4f9cd4;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0 5px;
}

.post__text{
    font-size: 14px;
    padding-bottom: 14px;
}

.post__tags span{
    color: #99a1b3;
    padding-left: 15px;
    position: relative;
}

.post__tags span:before{
    position: absolute;
    left: 0;
    font-family: icomoon;
    content: "\f02b";
}

/*Стили для длока Buttons*/

.buttons{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.buttons a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 10px 18px 10px 13px;
    border: solid #99a1b3 1px;
    border-radius: 4px;
}

.prev:before{
    font-family: icomoon;
    content: "\f104";
    padding-right: 10px;
}

.next:after{
    font-family: icomoon;
    content: "\f105";
    padding-left: 10px;
}

/*Стили для блока footer*/

.footer nav {
    background-color: #f2f4f8;
    padding-left: 28px;
    margin-bottom: 1px;
}

.footer nav a{
    text-decoration: none;
    display: inline-block;
    padding: 14px 0;
    margin-right: 18px;
    color: #99a1b3;
}

.copy{
    background-color: #f2f4f8;
    padding: 14px 0 14px 28px;
    color: #99a1b3;
}